.countries{
    max-width: 1240px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.message{
    color: var(--white-color);
    text-align: center;
}

@media screen and (max-width: 576px){
    .countries{
        grid-template-columns: repeat(1, 1fr);
    }
}