/* === Color Variables === */
:root{
    --green-color: #70cc72;
    --blue-color: #669ae1;
    --lightblue-color: #62c2e4;
    --red-color: #fe4365;
    --purple-color: #c49cde;
    --orange-color: #fc913a;
    --black-color: #000;
    --white-color: #fff;
}