footer{
    width: 100%;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    background-color: var(--black-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}