/* === Question 04 === */
#login-box{
    height: 240px;
}

select{
    border: 2px solid var(--purple-color);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--purple-color);
}

option{
    font-weight: bold;
    background-color: #141e30;
    opacity: .5;
}

option#red{
    color: var(--red-color);
}

option#green{
    color: var(--green-color);
}

option#blue{
    color: var(--blue-color);
}

option#yellow{
    color: #ff0;
}